<section>
    <footer class="container searchContainer">
        <h1>popular searches</h1>
        <div class="searchItems">
            <li>camera</li>
            <li>iphone</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>tv</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>tv</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>tv</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>tv</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>tv</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>tv</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
            <li>one plus</li>
            <li>samsung</li>
            <li>oneplus</li>
            <li>tv</li>
            <li>headphone</li>
            <li>hometheater</li>
            <li>readme</li>
        </div>
        <hr>
        <div class="searchlinks ">
            <div class="contact col-12 col-md-4  mb-2 "> 
                <img src="../../assets/imgs/logo.png" alt="" class="img-fluid">
                <div class="col-xl-8">
                    <p >Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Neque, natus? Molestiae
                        laborum.</p>
                    <p>Email:support@gmail.com</p>
                    <p>phone:0123456789</p>
                </div>
            </div>
            <div class="links col-12 col-md-4  d-flex mb-2 ">
                <div class="link col-6 d-flex flex-column ">
                    <h5>irent anything</h5>
                    <a href="">Our Company</a>
                    <a href="">Our Blog</a>
                    <a href="">Support</a>
                    <a href="">How it Work</a>
                    <a href="">List an Item</a>
                    <a href="">Disclaimers</a>
                </div>

                <div class="link col-6 d-flex flex-column">
                    <h5>other link</h5>
                    <a href="">Login / Register</a>
                    <a href="">Guarantee</a>
                    <a href="">Browse Items</a>
                    <a href="">Read FAQ's</a>
                    <a href="">Terms of Services</a>
                    <a href="">Leave Feedback</a>
                </div>
            </div>

            <div class="socialMedia col-12 col-md-4 mb-2">
                <h3>Join Our Community</h3>
                <p>Continue Exploring the great place</p>
                <div class="dwonloadLink d-flex">
                    <a href=""><img src="../../assets/imgs/android-store.png" alt="" class="img-fluid"></a>
                    <a href=""><img src="../../assets/imgs/app-store.png" alt="" class="img-fluid" ></a>
                </div>
                <h3>Connect Socially</h3>
                <div class="socialMediaIcons">
                    <img src="https://img.icons8.com/ios/50/ffffff/facebook-new.png"/>
                    <img src="https://img.icons8.com/ios/50/ffffff/instagram-new.png"/>
                    <img src="https://img.icons8.com/ios-filled/50/ffffff/github.png"/>
                    <img src="https://img.icons8.com/ios-filled/50/ffffff/twitter.png"/>
                    <img src="https://img.icons8.com/ios-filled/50/ffffff/youtube-play.png"/>
                </div>
            </div>
        </div>
    </footer>
</section>