<section class="">
    <div class="about">
        <div class="container  aboutText">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h4> <span>WHO WE ARE?</span> <br>About AV Rent</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sequi itaque dicta architecto
                        corrupti, quas
                        ullam doloribus dolores rerum fugiat, autem at repudiandae soluta provident quos inventore
                        officiis
                        illo
                        maiores quas ullam doloribus dolores rerum. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Cumque,
                        sequi itaque dicta architecto corrupti, fugiat, autem at repudiandae soluta provident quos
                        inventore
                        officiis illo maiores.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sequi itaque dicta architecto
                        corrupti, quas
                        ullam doloribus dolores rerum fugiat, autem at repudiandae soluta provident quos inventore
                        officiis
                        illo
                        maiores quas ullam doloribus dolores rerum. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Cumque,
                        sequi itaque dicta architecto corrupti, fugiat, autem at repudiandae soluta provident quos
                        inventore
                        officiis illo maiores.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, sequi itaque dicta architecto
                        corrupti, quas
                        ullam doloribus dolores rerum fugiat, autem at repudiandae soluta provident quos inventore
                        officiis
                        illo
                        maiores quas ullam doloribus dolores rerum. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Cumque,
                        sequi itaque dicta architecto corrupti, fugiat, autem at repudiandae soluta provident quos
                        inventore
                        officiis illo maiores.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="working container d-flex flex-column mt-5 ">
        <h2>how its work</h2>
        <div class="workingItems d-flex  flex-wrap">
            <div class="workingItem col-12 col-md-4">
                <div class="col-md-10">
                    <h2>Browse</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum iure. nemo odio, quidem
                        dignissimos
                        eaque impedit. Dolor, modi et.</p>
                </div>

            </div>
            <div class="workingItem col-12 col-md-4">
                <div class="col-md-10">
                    <h2>Select</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum iure. nemo odio, quidem
                        dignissimos
                        eaque impedit. Dolor, modi et.</p>
                </div>

            </div>
            <div class="workingItem col-12 col-md-4">
                <div class="col-md-10">
                    <h2>Rent</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum iure. nemo odio, quidem
                        dignissimos
                        eaque impedit. Dolor, modi et.</p>
                </div>

            </div>
        </div>
    </div>
</section>