
<!-- home content -->
<section id="homeContent" >
    <div class="searchSection">
        <h1>Get Anything On Rent</h1>
        <p>Find Thousands Of Items (Almost Anything) For Rent</p>
        <div class=" inputGroup">
            <img src="../../assets/imgs/icons8-search-30.png" alt="">
            <input type="search" class="  ml" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
            <button type="button" class="btnSearch btn-outline-primary ">search</button>
          </div> 

          <button type="button" class="btnSearch1 btn-primary ">search</button>
 

    </div>
</section>
<!-- working -->
<section id="content">
    <div class="container ">
      <div class="text-center working-head ">
        <div>
          <h5 class="d-inline-flex ">Rent Things The Easier Way</h5>
        </div>
        <h2>How It Works</h2>
        <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Velit impedit sed
          soluta
          corporis
          illum.</p>
      </div>
      <div class="row mb-5 woring-items mt-5">
        <div class="col-12 col-md-4 working_item ">
          <div class="working-cat">
            <img src="../../assets/imgs/search-icon.png" alt="">
            <h3>Find Your Perfect <br> Item</h3>
            <p>Impedit totam, quidem ratione minus eaque.
              Lorem ipsum, dolor sit amet consectetur
              adipisicing
              elit. Velit impedit sed</p>
          </div>

        </div>

        <div class="col-12 col-md-4 ">
          <div class="working-cat">
            <img src="../../assets/imgs/bill-icon.png" />
            <h3>Find Your Perfect <br> Item</h3>
            <p>Impedit totam, quidem ratione minus eaque.
              Lorem ipsum, dolor sit amet consectetur
              adipisicing
              elit. Velit impedit sed</p>
          </div>

        </div>

        <div class="col-12 col-md-4 ">
          <div class="working-cat">
            <img src="../../assets/imgs/audience.png" />
            <h3>Find Your Perfect <br> Item</h3>
            <p>Impedit totam, quidem ratione minus eaque.
              Lorem ipsum, dolor sit amet consectetur
              adipisicing
              elit. Velit impedit sed</p>
          </div>

        </div>

      </div>
    </div>

  </section>
  <!-- category section -->
  <section id="category">
    <div class="text-center working-head ">
      <div>
        <h5 class="d-inline-flex ">Rent Things The Easier Way</h5>
      </div>
      <h2>How It Works</h2>
      <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Velit impedit sed
        soluta
        corporis
        illum.</p>
    </div>
    <div class="container mt-3">
      <div class="row cat-container row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

        <div class="col ">
          <div class="card border-0 bg-transparent  cat-card">
            <figure><img src="../../assets/imgs/cat1.jpg" class="card-img-top" alt="cate1"></figure>
            <a href="">
              <div class="card-body  mx-auto ">
                <p class="card-title"><span>250</span> rents available</p>
                <h6 class="card-text">Film and photography</h6>
              </div>
            </a>


          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-transparent  cat-card ">
            <figure><img src="../../assets/imgs/cat2.jpg" class="card-img-top" alt="..."></figure>
            <a href="">
              <div class="card-body  mx-auto  ">
                <p class="card-title"><span>50</span> rents available</p>
                <h6 class="card-text">dj equipments</h6>
              </div>
            </a>


          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-transparent  cat-card ">
            <figure><img src="../../assets/imgs/cat3.jpg" class="card-img-top" alt="..."></figure>
            <a href="">
              <div class="card-body  mx-auto  ">
                <p class="card-title"><span>20</span> rents available</p>
                <h6 class="card-text">drones</h6>
              </div>
            </a>

          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-transparent  cat-card ">
            <figure><img src="../../assets/imgs/cat4.jpg" class="card-img-top" alt="..."></figure>
            <a href="">
              <div class="card-body  mx-auto  ">
                <p class="card-title"><span>250</span> rents available</p>
                <h6 class="card-text">electronics</h6>
              </div>
            </a>

          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-transparent  cat-card ">
            <figure><img src="../../assets/imgs/cat5.jpg" class="card-img-top" alt="..."></figure>
            <a href="">
              <div class="card-body  mx-auto  ">
                <p class="card-title"><span>100</span> rents available</p>
                <h6 class="card-text">lences</h6>
              </div>
            </a>

          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-transparent  cat-card ">
            <figure><img src="../../assets/imgs/cat6.jpg" class="card-img-top" alt="..."></figure>
            <a href="">
              <div class="card-body  mx-auto ">
                <p class="card-title"><span>50</span> rents available</p>
                <h6 class="card-text">music instrumentsy</h6>
              </div>
            </a>

          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-transparent  cat-card ">
            <figure><img src="../../assets/imgs/cat7.jpg" class="card-img-top" alt="..."></figure>
            <a href="">
              <div class="card-body  mx-auto  ">
                <p class="card-title"><span>20</span> rents available</p>
                <h6 class="card-text">projector</h6>
              </div>
            </a>

          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-transparent  cat-card ">
            <figure><img src="../../assets/imgs/cat8.jpg" class="card-img-top" alt="..."></figure>
            <a href="">
              <div class="card-body  mx-auto ">
                <p class="card-title"><span>250</span> rents available</p>
                <h6 class="card-text">electronic scooters</h6>
              </div>
            </a>

          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-transparent  cat-card ">
            <figure><img src="../../assets/imgs/cat9.jpg" class="card-img-top" alt="..."></figure>
            <a href="">
              <div class="card-body  mx-auto ">
                <p class="card-title"><span>20</span> rents available</p>
                <h6 class="card-text">swing mechine</h6>
              </div>
            </a>

          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-transparent  cat-card ">
            <figure><img src="../../assets/imgs/cat10.jpg" class="card-img-top" alt="..."></figure>
            <a href="">
              <div class="card-body  mx-auto  ">
                <p class="card-title"><span>250</span> rents available</p>
                <h6 class="card-text">transport</h6>
              </div>
            </a>

          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- tips section -->
  <section id="tips">
    <div class="container">
      <div class="row">
        <div class="left col-12 col-md-6 ">
          <div class="tips-container mx-auto text-center">
            <img src="../../assets/imgs/abt1.png" alt="">
            <h3>Earn money from your things</h3>
            <p>Join our herd of lenders earning £100s each
              month lending their belongings and equipment</p>
            <button class="btn-info">start learning</button>

          </div>

        </div>
        <div class="right col-12 col-md-6 text-center">
          <div class="tips-container mx-auto text-center">
            <img src="../../assets/imgs/abt2.png" alt="">
            <h3>Earn money from your things</h3>
            <p>Why buy the things you'll only use a few times a month?
              When you can rent them for a fraction of the price.
            </p>
            <button class="btn-info">discover</button>
          </div>

        </div>
      </div>
    </div>

  </section>
  <!-- app link -->
  <section id="applink">
    <div class="container">
      <div class="row">
        <div class="left col-12 col-md-6 d-flex justify-content-center align-items-center">
          <div class="applink-box ">
            <h3>Access anything on the go</h3>
            <p>Message and rent at the tap of a button. The Fat Llama app is the easiest way to find what you need,
              manage your rentals and purchases and get
              instant updates. Get it now on iOS and Android</p>
            <h4>Get it now on iOS and Android</h4>
            <form action="" class="d-flex  bg-white ">
              <div class="dropdown">
                <button class=" phone-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <img src="../../assets/imgs/united-kingdom.png" alt="">
                </button>
                <div class="dropdown-menu " aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item d-inline-block" href="#">Action</a>
                  <hr>
                  <a class="dropdown-item" href="#">Another action</a>
                </div>
              </div>
              <input class=" h-auto " type="search" placeholder="+91 6564253677">
              <button class="number-search-btn text-uppercase" type="submit">Get app link</button>
            </form>
            <div class="  ml-auto store ">
              <a class="lt-img  p-1 " href="#">
                <img src="../../assets/imgs/app-store.png" alt="">
              </a>
              <a class="rt-img  p-1" href="#">
                <img src="../../assets/imgs/android-store.png" alt="">
              </a>
            </div>


          </div>

        </div>
        <div class="right col-12 col-md-6">
          <img src="../../assets/imgs/mobile-app.png" alt="" class="img-fluid w-100">
        </div>
      </div>
    </div>
  </section>
  <!-- rating section -->
  <section id="rating " class="mt-5 mb-5">
    <div class="container ">

      <div class="mx-auto text-center" style="max-width: 400px;">
        <h3>What People Saying</h3>
        <p>Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Velit impedit sed soluta
          corporis illum aspernatur.
        </p>
      </div>

      <div class=" rating-items">

        <div class="border  rating-item ">
          <img class=" rounded-circle  img-fluid d-blocck" src="../../assets/imgs/testimonial1.png" alt="">
          <div class="p-2 ml-2">
            <h6>Brilliant service</h6>
            <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Quas magni quibusdam sit illum inventore
              accusamus necessitatibus autem asperiores,
              at debitis quod. Ipsum ullam eum necessitatibus earum cum
              voluptates maiores debitis!"</p>
            <h6 class="d-inline-block">losheela london</h6><br>
            <!-- <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> <br> -->
            <small>Rental Review</small>
          </div>

        </div>
        <div class="border   rating-item ">
          <img class=" rounded-circle  img-fluid d-blocck" src="../../assets/imgs/testimonial2.png" alt="">
          <div class="p-2 ml-2">
            <h6>Brilliant service</h6>
            <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Quas magni quibusdam sit illum inventore
              accusamus necessitatibus autem asperiores,
              at debitis quod. Ipsum ullam eum necessitatibus earum cum
              voluptates maiores debitis!"</p>
            <h6 class="d-inline-block">losheela london</h6><br>
            <!-- <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> <br> -->
            <small>Rental Review</small>
          </div>

        </div>

      </div>
    </div>
  </section>